.usersGrid {
    display: flex;
	flex-direction: column;
	gap: 20px;
	width: 90%;
	align-items: center;
	justify-content: center;
	margin: 20px 0;
}

.navigationLink:hover {
	cursor: pointer;
	text-decoration: underline;
}

.usersGrid .tableHead {
	font-weight: 700;
}