.headerContainer {
	height: 60px;
	/* border: 1px solid var(--primary); */
	border-radius: 10px;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 0px;
	/* width: 95%; */
	margin: 10px;
	box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
}

.headerContainer a {
	color: var(--primary);
}

.logo {
	font-size: 30px;
	text-decoration: none;
	cursor: pointer;
	gap: 10px;
	margin-left: 20px;
}

.navbarContainer {
	margin-left: auto;
	margin-right: 10px;
	display: flex;
	align-items: center;
}

.navbarContainer a {
	font-size: 20px;
	padding: 0 20px;
}

.navbarContainer a:hover,
.active {
	font-weight: bold !important;
}

.menuItem {
	display: flex;
	align-items: center;
	width: 196px;
	height: 42px;
	color: var(--primary);
	border: 1px solid #9cdaed;
	cursor: pointer;
	border-radius: 10px;
	background-color: #fff;
}

.menuItem p {
	font-weight: 400;
	font-size: 14px;
	padding-left: 15px;
}

.guestButtons {
	margin-right: 20px;
}

.guestButtons button {
	text-transform: none;
	border-radius: 10px;
	color: white;
	background-color: rgb(73, 180, 73);
	border-color: rgb(41, 105, 41);
}

.guestButtons button:hover {
	background-color: white;
	color: rgb(73, 180, 73);
	border-color: rgb(73, 180, 73);
}
